.center h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(97, 153, 155);
    color: azure;
    font-size: 50px;
    border-radius: 10px;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    color: azure;
    background-color: rgb(97, 153, 155);
    display: flex;
    gap: 30px;
    border-radius: 20px;
}

.center{
    background-color:rgb(133, 203, 206);
    border-radius: 10px;
}